{% extends "admin/change_list.html" %}

{% block object-tools-items %}
  <li><a href="{% url 'admin:social_socialaccount_connect' 'facebook' %}">Connect Facebook</a></li>
  <li><a href="{% url 'admin:social_socialaccount_connect' 'instagram' %}">Connect Instagram</a></li>
  <li><a href="{% url 'admin:social_socialaccount_connect' 'threads' %}">Connect Threads</a></li>
  <li><a href="{% url 'admin:social_socialaccount_connect' 'youtube' %}">Connect YouTube</a></li>
  <li><a href="{% url 'admin:social_socialaccount_connect' 'x' %}">Connect X</a></li>
  {{ block.super }}
{% endblock %}
